.mat-expansion-panel, .mat-expansion-panel-header-title{
    //background: white;
    background: #00203FFF;
    color: #ADEFD1FF;
}
.mat-card, .mat-card-subtitle {
    background: #ADEFD1FF;
    color: #00203FFF;
}
.mat-expansion-panel-header-description {
    color:#ADEFD1FF
}

mat-list.list-horizontal {
    .mat-list-item {
        display: inline-block;
        height: auto;
        width: auto;
    }
}

.mat-chip, .mat-chip-selected {
    background-color: #ADEFD1FF !important;
    color:#00203FFF !important;

}