<div fxLayout="column" fxLayoutAlign="space-around stretch" class='menu'>
  <!-- Toolbar -->
  <div fxFlex='5'>
    <app-tool-bar></app-tool-bar>
  </div>
  

  <div fxFlex='85' class="content" role="main">
    

  </div>

  <div fxFlex='10'>
    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%;">
      <div style='width: 100%;' fxFlex=20>
        <button mat-fab class='btnPlusReport'>
          <mat-icon class='iconAdd'>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  
</div>

<router-outlet></router-outlet>