* {
    direction: rtl;
  }

.menu {
    height: 100%;
    background-color: lightgrey;
}

.btnPlusReport {
    color: white;
    background-color: #97d697;
    width: 100px;
    height: 100px;
}

.iconAdd {
    width: 100px;
    height: 100px;
    font-size: 56px;
    margin-top: 10px;
}