<div fxLayout="column" fxLayoutAlign="start strech" class='cards' fxLayoutGap='12px'>
    <ng-container fxFlex=10>
        <ng-container>
            <app-report></app-report>
        </ng-container>
        <ng-container>
            <app-report [report]='report'></app-report>
        </ng-container>
        <ng-container>
            <app-report></app-report>
        </ng-container>
        <ng-container>
            <app-report [report]='report'></app-report>
        </ng-container>
        <ng-container>
            <app-report></app-report>
        </ng-container>
        <ng-container>
            <app-report [report]='report'></app-report>
        </ng-container>
        <ng-container>
            <app-report></app-report>
        </ng-container>
        <ng-container>
            <app-report [report]='report'></app-report>
        </ng-container>
        <ng-container>
            <app-report></app-report>
        </ng-container>
        <ng-container>
            <app-report [report]='report'></app-report>
        </ng-container>
    </ng-container>
</div>